<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-full">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="icon" th:href="@{/images/faviconLogo.png}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/panelAdmin.css}">
    <link rel="stylesheet" th:href="@{/css/formulario.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div id="main-container">
    <div id="image-side">
        <img th:src="@{/images/faviconLogox.png}" alt="Imagen Decorativa">
    </div>

    <div id="form-side">
        <div id="form-ui">
            <form th:action="@{/admin/guardarDocente}" th:object="${docente}" method="post" id="form">
                <div id="form-body">
                    <div id="welcome-lines">
                        <div id="welcome-line-1">Registro</div>
                        <div id="welcome-line-2">Aida Gallegos</div>
                    </div>

                    <div id="input-area">
                        <div class="form-inp">
                            <input placeholder="Nombre del docente" type="text" th:field="*{nombre}" required>
                        </div>
                        <div class="form-inp">
                            <select th:field="*{materia}" id="materia-select">
                                <option value="Matemáticas">Matemáticas</option>
                                <option value="Lengua y Literatura">Lengua y Literatura</option>
                                <option value="Ciencias Naturales">Ciencias Naturales</option>
                                <option value="Estudios Sociales">Estudios Sociales</option>
                            </select>
                        </div>
                    </div>
                    <div id="submit-button-cvr">
                        <button id="submit-button" type="submit">REGISTRAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{pages/listaDocente :: footer}"></footer>
</body>
</html>