<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="h-full">
<head>
    <meta charset="UTF-8">
    <title>Registro de Docente | U.E. Aida Gallegos</title>
    <link rel="icon" th:href="@{/images/faviconLogo.png}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/formulario.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div id="main-container">
    <div id="image-side">
        <img th:src="@{/images/faviconLogox.png}" alt="Logo Institucional">
    </div>

    <div id="form-side">
        <div id="form-ui">
            <form th:action="@{/guardarDocente}" th:object="${docente}" method="post" id="form">

                <input type="hidden" th:field="*{id}">

                <div id="form-body">
                    <div id="welcome-lines">
                        <div id="welcome-line-1">Registro del Docente</div>
                        <div id="welcome-line-2">Unidad Educativa Aida Gallegos</div>
                    </div>

                    <div id="input-area">
                        <div class="input-group">
                            <label class="input-label">Nombre Completo del Docente</label>
                            <div class="form-inp">
                                <i class="fas fa-user"></i>
                                <input placeholder="Ej: Juan Pérez" type="text" th:field="*{nombre}" required>
                            </div>
                        </div>

                        <div class="input-group">
                            <label class="input-label">Correo electrónico institucional</label>
                            <div class="form-inp">
                                <i class="fas fa-envelope"></i>
                                <input placeholder="docente@ejemplo.com" type="email" th:field="*{email}" required>
                            </div>
                        </div>

                        <div class="input-group">
                            <label class="input-label">Seleccione el curso a cargo</label>
                            <div class="form-inp">
                                <i class="fas fa-graduation-cap"></i>
                                <select th:field="*{cursoAsignado}" required>
                                    <option value="" disabled selected>Elegir curso...</option>
                                    <option value="Educacion Basica">Educacion Basica</option>
                                    <option value="Bachillerato">Bachillerato</option>
                                    <option value="Hibrido">Hibrido</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-group">
                            <label class="input-label">Seleccione la jornada laboral</label>
                            <div class="form-inp">
                                <i class="fas fa-sun"></i>
                                <select th:field="*{jornada}" required>
                                    <option value="" disabled selected>Elegir jornada...</option>
                                    <option value="Matutina">Matutina</option>
                                    <option value="Vespertina">Vespertina</option>
                                    <option value="Hibrido">Hibrida</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-group">
                            <label class="input-label">Materia que imparte</label>
                            <div class="form-inp">
                                <i class="fas fa-book"></i>
                                <select th:field="*{materia}" required>
                                    <option value="" disabled selected>Elegir materia...</option>
                                    <option value="ANIN.LEC">ANIM.LEC</option>
                                    <option value="OVP">OVP</option>
                                    <option value="ECA">ECA</option>
                                    <option value="PMC">PMC</option>
                                    <option value="Matemáticas">Matemáticas</option>
                                    <option value="Filosofia">Filosofía</option>
                                    <option value="Fisica">Física</option>
                                    <option value="Biologia">Biología</option>
                                    <option value="Quimica">Química</option>
                                    <option value="Historia">Historia</option>
                                    <option value="Investigacion">Investigación</option>
                                    <option value="Ingles">Ingles</option>
                                    <option value="Lengua y Literatura">Lengua y Literatura</option>
                                    <option value="Ciencias Naturales">Ciencias Naturales</option>
                                    <option value="Ciencias Sociales">Ciencias Sociales</option>
                                    <option value="Educacion Ciudadana">Educación Ciudadana</option>
                                    <option value="Emprendimiento y Gestion">Emprendimiento y Gestión</option>
                                    <option value="Matematicas Superior">Matemáticas Superior</option>
                                    <option value="Educacion Fisica">Educación Fisica</option>


                                </select>
                            </div>
                        </div>

                        <div class="input-group">
                            <label class="input-label">Número de contacto (10 dígitos)</label>
                            <div class="form-inp">
                                <i class="fas fa-phone"></i>
                                <input placeholder="0987654321" type="tel"
                                       th:field="*{telefono}"
                                       pattern="[0-9]{10}"
                                       maxlength="10"
                                       required>
                            </div>
                        </div>
                    </div>

                    <div id="submit-button-cvr">
                        <button id="submit-button" type="submit">
                            <i class="fas fa-save"></i> GUARDAR DOCENTE
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>